/*@import "reset.less";*/
/*@import "vendor/picnic.min.less";*/
@import "app.less";
/*

body {
    font-size: 16px; ;
}

.details-container{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;

    h2 {
        font-size: 24px;
        color: #3b38cd;
    }
}

.details-content {
    margin: 20px;
    background: rgb(255 255 255 / 71%);
    border-radius: 20px;
    padding: 20px;
}

.flag{
    width: 20px;
    height: 15px;
    margin-right: 4px;
}*/
